.heroText {
    animation: FadeIn 0.8s ease-out forwards;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}